@using System.Net
@using System.Net.Http
@using System.Text
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
}
<div id="partialView" xmlns="http://www.w3.org/1999/html"></div>
<div class="text-center">
    <p id="task-header">List of available tasks</p><br />
    <button type="button" class="btn btn-primary" onclick="addTaskButton()">Add Task</button>
</div>


@{
    var todoListJson = new WebClient().DownloadString("https://localhost:5001/api/todo/all");
    var toDoList = JsonConvert.DeserializeObject<List<TodoModel>>(todoListJson);

    //        //TODO: delete this if
    //        if (toDoList.TodoElements.Count <= 0)
    //        {
    //            var todo = new List<PreToDoElement>();
    //            todo.Add(new PreToDoElement("bla", "blabla"));
    //            todo.Add(new PreToDoElement("blabla", "blabla"));
    //            todo.Add(new PreToDoElement("blablablablablablablablablablablabla", "blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla"));
    //            todo.Add(new PreToDoElement("blablablablablablablablablablablablablablabla", "blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla"));
    //            todo.Add(new PreToDoElement("blablablablablablablablablablablablablablablablablabla", "blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla"));
    //
    //            todo.Add(new PreToDoElement("blablabla", "blabla"));
    //            todo.Add(new PreToDoElement("blablablabla", "blabla"));
    //            todo.Add(new PreToDoElement("blablablablabla", "blabla"));
    //            todo.Add(new PreToDoElement("blablablablablablabla", "blabla"));
    //            todo.Add(new PreToDoElement("blablablablablablablablabla", "blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla"));
    //
    //
    //
    //            HttpClient httpClient = new HttpClient();
    //            foreach (var task in todo)
    //            {
    //                var json = Json.Serialize(task);
    //                await httpClient.PostAsync("https://localhost:5001/api/todo/add", new StringContent(json.ToString(),Encoding.UTF8, "application/json"));
    //            }
    //        }

}

<div class="todo-container">

    @foreach (var todoElement in toDoList)
    {
        <li class="todo-object">
            <div class=todo-object-header>
                @todoElement.TaskHeader
            </div>
            <div class="todo-object-content">
                @todoElement.TaskContent
            </div>


            <div class="todo-object-button-section">
                <button type="button" class="btn btn-warning" onclick="editTaskButton(@todoElement.Id)">Edit</button>
                <button type="button" class="btn btn-danger" onclick="deleteTaskButton(@todoElement.Id)">Delete</button>
            </div>
            <div class="todo-object-task-number-section">
                @todoElement.Id
            </div>
        </li>
    }
</div>